<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Courgette&family=Dancing+Script&display=swap"
    rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
  <title>My KB</title>
</head>

<body>
  <div id="sections" class="nav">
    {{ block "sections" . }}
    <ul>
      {{ range .Site.Sections }}
      <li><a class="menu" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>

  <div id="main">
    {{ block "main" . }}

    {{ end }}
  </div>
</body>

</html>