{{ define "tags" }}
<h2>Tags</h2>
<ul>
  {{ range .Site.Taxonomies.tags }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
  {{ end }}
</ul>
{{ end }}

{{ define "cats" }}
<h2>Categories</h2>
<ul>
  {{ range .Site.Taxonomies.categories }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
  {{ end }}
</ul>
{{ end }}

<!--
<h2>Sections</h2>
{{ range .Site.Sections }}
{{ .Page.Title }}
<ul>
  {{ range .Pages }}
  <li>{{ .Title }} - {{ .Param "tags" }} - {{ .Param "categories" }}</li>
  {{ end }}
</ul>
{{ end }}
-->